/* Write your CSS here */
.cw-each-list {
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.cw-value-button {
  width: 100%;
  background-color: #382f5a;
  color: #d4d2db;
  font-size: 25px;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
  outline: none;
}
